@import 'tailwindcss';
@import './fonts.css';
@import './animations.css';
@plugin "@tailwindcss/typography";
@source "../node_modules/@ferrucc-io/emoji-picker";

@theme {
  --font-sans: 'inter-tight';
  --font-serif: 'instrument-serif';

  /* animations */
  --animate-feather-write: feather-write 0.6s ease-in-out forwards;
  --animate-glow: glow 2s ease-in-out infinite;
  --animate-fade-in: fade-in 230ms cubic-bezier(0.4, 0, 0.2, 1);
  --animate-fade-out: fade-out 230ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --scrollbar-color: transparent;
}

html {
  overflow: hidden;
}

body {
  @apply bg-zinc-950;
}

/* disable select for certain components */
.no-select {
  user-select: none;
}

/* .custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
    scrollbar-gutter: auto;
  }
} */

/* react emoji picker customization workaround */

/* emoji list container */
.picker-group *::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* emoji group sticky header */
div[class='relative bg-white/90 dark:bg-zinc-950/90 supports-[backdrop-filter]:bg-white/50 supports-[backdrop-filter]:dark:bg-zinc-950/50 supports-[backdrop-filter]:backdrop-blur-sm'] {
  @apply bg-zinc-900/5;
  backdrop-filter: blur(4px) !important;
}

/* no emoji found component */
div[class='flex flex-col items-center justify-center py-12 px-4 w-full'] > div > svg {
  stroke: var(--color-zinc-600);
}

/* each emoji container */
[class*='aspect-square focus:ring-[var(--emoji-hover-color)] focus:ring-2 flex items-center justify-center text-sm rounded-lg hover:bg-[var(--emoji-hover-color)] focus:bg-[var(--emoji-hover-color)] flex-shrink-0'] {
  &:hover {
    @apply bg-zinc-900;
  }
  &:focus {
    @apply bg-zinc-900;
  }
}

/* div:has(> div[data-testid='emoji-picker-list-header']) {
  @apply bg-zinc-950/75;
  @apply backdrop:blur-md
} */

.picker-group *::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-800;
}

.picker-group *:-webkit-scrollbar-track {
  background-color: transparent;
}

.picker-group *::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  @apply rounded-full;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-800;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  @apply rounded-full;
}

/* find a way to make the scrollbar expand on hover */

/* .custom-scrollbar::-webkit-scrollbar-thumb:hover .custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

/* .custom-scrollbar::-webkit-scrollbar:hover {
  width: 8px;
  height: 8px;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 8px;
  height: 8px;
} */

/* subtask md checkbox */
.task-list-item {
  list-style: none;
}

/* to hide markdown code background */

.hljs {
  background: transparent !important;
}
